includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - src/PHPStan/extension.neon

parameters:
    level: 9
    paths:
        - src/PHPStan
        - src/Serializer
        - tests/Serializer
    excludePaths:
    	- src/*/vendor/*
    tmpDir: var/phpstan
    ignoreErrors:
        - { identifier: missingType.generics }
        - { identifier: function.impossibleType }
        - { identifier: function.alreadyNarrowedType }
        - { identifier: enum.generic }
        -
            identifier: argument.type
            path: src/Serializer/Internal/Type/ProtobufType.php
        -
            identifier: generics.variance
            paths:
                - src/Serializer/Internal/Label/LabelIsEmpty.php
