includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - src/PHPStan/extension.neon
    - vendor/antlr/antlr-php-runtime-phpstan/extension.neon

parameters:
    level: 9
    paths:
        - src/PHPStan
        - src/Serializer
        - src/Byte
        - src/GRPC
        - src/Compiler/Internal/Code
        - src/Compiler/Internal/Naming
        - src/Compiler/Internal/Ir/Hook
        - src/Compiler/Internal/Ir/Trace
        - src/Compiler/Internal/Ir/Type
        - src/Compiler/Internal/Ir/Validate
        - src/Compiler/Console
        - src/Compiler/bin
        - src/Compiler/Output
        - src/Compiler/Compiler.php
        - tests/Serializer
    excludePaths:
    	- src/*/vendor/*
    	- src/Compiler/Internal/Parser
    tmpDir: var/phpstan
    ignoreErrors:
        - { identifier: missingType.generics }
        - { identifier: function.impossibleType }
        - { identifier: function.alreadyNarrowedType }
        - { identifier: enum.generic }
        -
            identifier: generics.variance
            paths:
                - src/Serializer/Internal/Label/LabelIsEmpty.php
